@import "general-mixin";
@import "variables";

body {
    background-color: $gray;
    font-size: $fontSize;
    margin: 0;
    min-height: $windowHeight;
    min-width: $windowWidth;
}

input, select {
    background: $white;
    border: $inputBorderSize solid $darkGray;
    border-radius: 2px;
    box-sizing: border-box;
    height: $inputHeight;
    padding: 2px;
}

select:hover {
    border-color: $darkerGray;
}

input {
    cursor: auto;
}

select {
    cursor: pointer;
}

#qrcode {
    margin: 100px;
}

#contentwrapper {
    margin: 0;
    min-width: 265px;
    padding: 0;
    text-align: center;
}

#dragdropfield {
    @include flexbox-vertical;
    @include flexbox-position(center, stretch);

    border: $dragDropBorderSize dashed $green;
    cursor: pointer;
    min-height: 200px;
    min-width: 160px;
    max-height: 400px;
    max-width: 320px;

    &.hover, &:hover  {
        border: $dragDropBorderSize dashed $lime;
    }
}

#filefield {
    display: none;
}

#hiddenIframe {
    border: 0;
    display: none;
    height: 0;
    width: 0;
}
