/* Colors */
$white: #ffffff;
$lime: #88c426;
$green: #519548;
$gray: #ebebeb;
$darkGray: #a4a4a4;
$darkerGray: #7a7a7a;
$errorRed: #c6000c;
$errorRedHover: #f20000;

/* Sizes */
$windowHeight: 380px;
$windowWidth: 280px;

$fontSize: 16px;
$lineHeight: 26px;

$inputBorderSize: 1px;
$inputHeight: 26px;

$dragDropBorderSize: 10px;
